/*** site colors ****/
@font-face {
  font-family: "Spoof";
  font-style: "";
  font-weight: "";
  src: url("../fonts/SpoofTrial-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Avenir";
  font-style: "";
  font-weight: "";
  src: url("../fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-medium";
  font-style: "";
  font-weight: "";
  src: url("../fonts/avenir-next-medium.ttf") format("truetype");
}

/**** general styles ******/
body {
  font-family: "Avenir";
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.spoof-font,
.btn {
  font-family: "Spoof" !important;
  font-weight: 500;
}

.container {
  width: 100%;
  max-width: 1237px;
  padding-right: 15px;
  padding-left: 15px;
}

/*** texts size ****/
h1 {
  font-size: 64px;
  line-height: 107.5%;
}

h2 {
  font-size: 41px;
  line-height: 130%;
}

h3 {
  font-size: 24px;
  line-height: 107.5%;
}

h4 {
  font-size: 21px;
  line-height: 130%;
}

.text-small {
  font-size: 15px;
}

/**** page texts styles *****/
.text-purple {
  color: #271340 !important;
}

.text-brown {
  color: #F7906D !important;
}

.text-yellow {
  color: #F2FE53 !important;
}

.text-secondary {
  color: #000000 !important;
}

/**** background styles *****/
.bg-purple {
  background: #271340;
}

.bg-brown {
  background: #F7906D;
}

.bg-yellow {
  background: #F2FE53;
}

.bg-secondary {
  background: #000000;
}

/**** buttons styles *****/
.btn-warning {
  background: #F2FE53;
  border-color: #F2FE53;
  color: #000000;
  border-radius: 41px;
}

.btn-warning:hover {
  background: #F7906D;
  border-color: #F7906D;
  color: #fff;
}

/**** accordion-item style *******/
.accordion .accordion-item {
  background: #F2FE53;
  border-radius: 23px;
  border: 0;
}

.accordion .accordion-item .accordion-button {
  padding: 24px 30px;
  background-color: transparent;
  font-family: 'Spoof';
  font-weight: 500;
  font-size: 20.62px;
  line-height: 91.7%;
  color: #000000;
  border-radius: 23px 23px 0 0;
  box-shadow: none;
  outline: none;
}

.accordion .accordion-item .accordion-button::after {
  width: 50px;
  height: 50px;
  background-image: url("../images/home/add.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.accordion .accordion-item .accordion-button.collapsed::after {
  background-image: url("../images/home/add.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.accordion .accordion-item .accordion-body {
  padding: 1rem 1.25rem;
  padding: 24px 30px;
  border-top: 1px solid rgba(247, 144, 109, 0.19);
}

/*** labels style ****/
.users-types span {
  font-family: 'Spoof';
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #FFFFFF;
  background: #000000;
  padding: 9px 11px 8px 11px;
  border-radius: 29px;
}

/**** slick slider style ****/
.slick-slider .slick-track {
  display: flex !important;
}

.slick-slider .slick-slide {
  padding: 0 12px;
  height: inherit !important;
}

.slick-slider .slick-dots {
  bottom: -50px;
}

.slick-slider .slick-dots li {
  width: auto;
  padding: 0;
}

.slick-slider .slick-dots li button {
  width: 14px;
  height: 13px;
  border-radius: 50%;
  background: rgba(247, 144, 109, 0.42);
  opacity: 1;
  border: 0;
  margin: 0 5px;
  padding: 0;
}

.slick-slider .slick-dots li button::before {
  display: none;
}

.slick-slider .slick-dots li.slick-active button {
  width: 25px;
  height: 9px;
  background: #F7906D;
  border-radius: 20px;
}

/***** header style *****/
.navbar {
  background-color: transparent !important;
  padding: 28px 0;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 107.5%;
  color: #000000;
  font-family: "Avenir-medium";
  padding: 15px 20px;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #F7906D;
}

.navbar .navbar-nav .nav-item .nav-link.btn {
  padding: 15px 27px;
}

.navbar .navbar-nav .nav-item .nav-link.btn:hover {
  color: #fff !important;
}

.navbar .navbar-nav.ms-auto .nav-item .nav-link.text-underline {
  font-weight: 500;
  font-size: 18px;
  line-height: 107.5%;
  text-decoration: underline;
  padding-right: 34px;
}

/**** home page style *****/
.UR-hero {
  padding-top: 30px;
  padding-bottom: 58px;
  font-size: 18px;
}

.UR-hero .inner-box {
  max-width: 559px;
}

.UR-hero .inner-box h1 {
  margin-bottom: 33px;
}

.UR-hero .inner-box p {
  max-width: 521px;
}

.UR-hero .inner-box .btn {
  padding: 15px 10px 16px 10px;
  width: 100%;
  max-width: 198px;
  font-size: 18px;
  font-weight: 500;
  line-height: 107.5%;
}

.UR-partners {
  padding-bottom: 124px;
}

.UR-partners .row {
  max-width: 608px;
  margin: 0 auto;
}

.UR-partners span {
  font-family: "Avenir-medium";
  font-weight: 500;
  font-size: 14px;
  line-height: 107.5%;
  color: #000000;
  display: block;
  text-align: center;
}

.UR-features {
  position: relative;
  padding: 283px 0 30px 0;
  margin-bottom: -100px;
}

.UR-features .user-img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

.UR-features .promotion-img {
  position: absolute;
  z-index: 99;
  background: #F2FE53 url("../images/home/UserResearch2.svg") center center;
  background-repeat: repeat-x;
  width: 796.37px;
  height: 50px;
  left: -136px;
  top: 230px;
  transform: rotate(-45deg);
}

@media (max-width: 1560px) {
  .UR-features .promotion-img {
    left: -185px;
    top: 207px;
  }
}

@media (max-width: 1350px) {
  .UR-features .promotion-img {
    left: -212px;
    top: 190px;
    width: 720.37px;
  }
}

.UR-features .absolute-block {
  content: "";
  display: block;
  width: 100%;
  max-width: 90%;
  height: calc(100% - 120px);
  background: #F2FE53;
  border-radius: 68px;
  transform: rotate(-6deg);
  position: absolute;
  bottom: -40px;
  right: -30px;
  left: auto;
}

@media (max-width: 1350px) {
  .UR-features .absolute-block {
    max-width: 95%;
  }
}

.UR-features .container {
  max-width: 1000px;
  position: relative;
  z-index: 1;
}

.UR-features h2 {
  margin-bottom: 0;
}

.UR-features .types-img {
  display: inline-block;
  text-align: center;
}

.UR-features .types-img span {
  display: block;
  font-size: 24px;
  line-height: 130%;
  color: #000000;
}

.UR-features .users-types {
  max-width: 346px;
}

.UR-features .users-types span {
  display: inline-block;
  margin-bottom: 10px;
}

.UR-features .left-side {
  max-width: 410px;
}

.UR-features .feature-details {
  max-width: 406px;
  display: flex;
  flex-wrap: wrap;
}

.UR-features .feature-details .feature-icon {
  width: 48px;
  height: 48px;
  background: #000000;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.UR-features .feature-details .details {
  width: calc(100% - 48px);
  padding-left: 13px;
}

.UR-features .feature-details .details h4 {
  margin-bottom: 11px;
}

.UR-features .feature-details .details p {
  margin-bottom: 0;
}

.UR-works {
  padding-top: 326px;
  padding-bottom: 81px;
  background: url("../images/home/bg.jpg");
}

.UR-works .container {
  max-width: 1344px;
}

.UR-works h2 {
  margin-bottom: 116px;
  font-size: 48px;
  line-height: 107.5%;
}

.UR-works .work-steps {
  margin-right: -12px;
  margin-left: -12px;
  margin-bottom: 68px;
}

.UR-works .work-steps .col-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.UR-works .work-steps .step-box {
  background: #FFFFFF;
  border-radius: 19px;
  padding: 30px 25px;
  height: 100%;
}

.UR-works .work-steps .step-box .step-num {
  width: 60px;
  height: 60px;
  background: #F7906D;
  font-size: 24px;
  line-height: 107.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px auto;
  border-radius: 50%;
}

.UR-works .work-steps .step-box h3 {
  margin-bottom: 11px;
}

.UR-works .work-steps .step-box div {
  line-height: 159.5%;
}

.UR-works .contact-expert {
  max-width: 475px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.UR-works .contact-expert .text-white {
  width: calc(100% - 119px);
  padding-left: 28.5px;
}

.UR-works .contact-expert h3 {
  font-size: 21px;
  line-height: 130%;
  margin-bottom: 10px;
}

.UR-works .contact-expert .btn {
  padding: 15px 24px 16px 24px;
  font-size: 18px;
  line-height: 107.5%;
}

.UR-faq {
  padding-top: 116px;
  padding-bottom: 98px;
}

.UR-faq h2:not(.accordion-header) {
  margin-bottom: 41px;
}

.UR-contact-sales {
  background: #000000;
  padding: 104px 0 114px 0;
  text-align: center;
  position: relative;
}

.UR-contact-sales p {
  margin-bottom: 36px;
}

.UR-contact-sales .btn {
  width: 100%;
  max-width: 198px;
  font-size: 18px;
  line-height: 107.5%;
  padding: 15px;
}

.UR-contact-sales::before, .UR-contact-sales::after {
  content: "";
  display: block;
  height: 30px;
  width: 100%;
  position: absolute;
  left: 0;
  background: #F2FE53 url("../images/home/UserResearch.svg") center center;
}

.UR-contact-sales::before {
  top: 2px;
  transform: rotate(2deg);
}

.UR-contact-sales::after {
  bottom: 2px;
  transform: rotate(-2deg);
}

/**** footer style ****/
footer {
  padding-top: 118px;
  padding-bottom: 80px;
}

footer .footer-logo {
  width: 276px;
}

footer ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  font-family: "Avenir-medium";
  font-weight: 500;
  font-size: 16px;
  line-height: 107.5%;
  color: #000000;
  text-decoration: none;
  padding: 0 20px;
  transition: all 0.3s ease-in-out;
}

footer ul li a:hover {
  color: #F7906D;
}

footer ul.social-links li {
  margin: 0 8px;
}

footer ul.social-links li a {
  width: 48px;
  height: 48px;
  background: #F2FE53;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

footer ul.social-links li a:hover {
  background: #F7906D;
}

/**** media styles *****/
@media (max-width: 1250px) {
  .UR-features .user-img {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .UR-hero .img-fluid {
    width: 100%;
    max-width: 320px;
  }
}

@media (max-width: 991.98px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f3f3f3;
  }
  .navbar .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
  }
  .navbar .navbar-toggler {
    padding: 0;
    box-shadow: none;
    outline: none !important;
  }
  .navbar .navbar-toggler img {
    width: 21px;
  }
  .navbar .navbar-collapse {
    position: fixed;
    top: 0;
    right: 0;
    width: 286px;
    background: #fff;
    height: 100%;
    transform: translateX(286px);
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    z-index: 99;
    overflow-y: auto;
  }
  .navbar .navbar-collapse.collapse {
    transform: translateX(0px);
  }
  .navbar .navbar-collapse .close-menu {
    padding: 20px;
  }
  .navbar .navbar-collapse .close-menu a img {
    width: 50px;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 20px;
    padding: 25px 20px;
  }
  .navbar .navbar-nav .nav-item .nav-link.btn {
    max-width: 250px;
    margin: 0 auto;
  }
  .UR-hero {
    text-align: center;
    padding-bottom: 75px;
  }
  .UR-hero .inner-box {
    max-width: 100%;
  }
  .UR-hero .inner-box p {
    max-width: 100%;
  }
  .UR-hero .img-fluid {
    margin-top: 51px;
  }
  .UR-features {
    background: url("../images/home/img1.png") no-repeat left top;
    background-size: auto 50%;
    position: relative;
    padding: 400px 0 30px 0;
    margin-bottom: 0;
  }
  .UR-features h2 {
    margin-bottom: 12px;
  }
  .UR-features .user-img {
    display: none;
  }
  .UR-features .absolute-block {
    max-width: 100%;
    border-radius: 0;
    top: 300px;
    bottom: 0;
    right: 0;
    transform: rotate(0deg);
    height: calc(100% - 270px);
  }
  .UR-features .promotion-img {
    left: -205px;
    top: 117px;
    width: 535px;
  }
  .UR-features .left-side {
    max-width: 100%;
    margin-bottom: 68px;
  }
  .UR-features .users-types {
    max-width: 100%;
  }
  .UR-features .feature-details {
    max-width: 100%;
    margin-bottom: 33px !important;
  }
  .UR-works {
    padding-top: 150px;
  }
  .UR-works .col-12 {
    margin-bottom: 35px;
  }
  footer {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  footer .footer-logo {
    width: 276px;
    display: block;
    margin: 0 auto 40px auto;
  }
  .UR-works .work-steps.slick-slider {
    margin-bottom: 100px;
  }
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 50px;
  }
  .accordion .accordion-item .accordion-button {
    font-size: 16px;
  }
  .accordion .accordion-item .accordion-button::after {
    width: 35px;
    height: 35px;
  }
  h2 {
    font-size: 35px;
  }
  .UR-works h2 {
    font-size: 35px;
  }
  .UR-works h2 img {
    height: 45px;
  }
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 19px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar .navbar-brand img {
    max-width: 180px;
  }
  .navbar .navbar-toggler img {
    width: 18px;
  }
  .UR-hero .inner-box a {
    display: block;
  }
  .UR-hero .inner-box .btn {
    margin: 0 auto 33px auto !important;
  }
  .accordion .accordion-item .accordion-button {
    padding: 20px 20px;
  }
  .accordion .accordion-item .accordion-button::after {
    width: 25px;
    height: 25px;
  }
  .UR-faq {
    padding-top: 60px;
    padding-bottom: 65px;
  }
  .UR-works .contact-expert {
    text-align: center;
  }
  .UR-works .contact-expert img {
    margin: 0 auto 25px auto;
  }
  .UR-works .contact-expert .text-white {
    width: 100%;
    padding-left: 0;
  }
  footer ul li a {
    padding: 0 10px;
  }
  footer .footer-logo {
    max-width: 100%;
  }
  .UR-works .work-steps .step-box div {
    font-size: 16px;
  }
  .UR-works h2 {
    font-size: 26px;
    margin-bottom: 75px;
  }
  .UR-works h2 img {
    height: 32px;
    margin-bottom: 6px;
  }
}
/*# sourceMappingURL=style.css.map */