/**** media styles *****/

@media(max-width:1250px) {
    .UR-features {
        .user-img {
            width: 100%;
        }
    }
}

@media(max-width:1200px) {
    .UR-hero {
        .img-fluid {
            max-width: 320px
        }
    }
}

@media(max-width:991.98px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .navbar {
        padding-top: 42px;
        padding-bottom: 20px;
        .navbar-brand {
            margin: 0 auto;
        }
    }
    .UR-hero {
        text-align: center;
        padding-bottom: 75px;
        .inner-box {
            max-width: 100%;
            p {
                max-width: 100%;
            }
        }
        .img-fluid {
            margin-top: 51px;
        }
    }
    .UR-features {
        background: url("../images/home/img1.png") no-repeat left top;
        background-size: auto 50%;
        position: relative;
        padding: 400px 0 30px 0;
        margin-bottom: 0;
        h2 {
            margin-bottom: 12px;
        }
        .user-img {
            display: none;
        }
        .absolute-block {
            max-width: 100%;
            border-radius: 0;
            top: 300px;
            bottom: 0;
            right: 0;
            transform: rotate(0deg);
            height: calc(100% - 270px);
        }
        .promotion-img {
            left: -205px;
            top: 117px;
            width: 535px;
        }
        .left-side {
            max-width: 100%;
            margin-bottom: 68px;
        }
        .users-types {
            max-width: 100%;
        }
        .feature-details {
            max-width: 100%;
            margin-bottom: 33px !important;
        }
    }
    .UR-works {
        padding-top: 150px;
        .col-12 {
            margin-bottom: 35px;
        }
    }
    footer {
        padding-top: 80px;
        padding-bottom: 50px;
        .footer-logo {
            width: 276px;
            display: block;
            margin: 0 auto 40px auto;
        }
    }
    .UR-works .work-steps.slick-slider {
        margin-bottom: 100px;
    }
}

@media(max-width:767.98px) {
    h1 {
        font-size: 50px;
    }
    .accordion .accordion-item .accordion-button {
        font-size: 16px;
        &::after {
            width: 35px;
            height: 35px;
        }
    }
    h2 {
        font-size: 35px;
    }
    .UR-works h2 {
        font-size: 35px;
        img {
            height: 45px;
        }
    }
}

@media(max-width:575.98px) {
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 19px;
    }
    .UR-hero .inner-box {
        a {
            display: block;
        }
        .btn {
            margin: 0 auto 33px auto !important
        }
    }
    .accordion .accordion-item .accordion-button {
        padding: 20px 20px;
        &::after {
            width: 25px;
            height: 25px;
        }
    }
    .UR-faq {
        padding-top: 60px;
        padding-bottom: 65px;
    }
    .UR-works .contact-expert {
        text-align: center;
        img {
            margin: 0 auto 25px auto;
        }
        .text-white {
            width: 100%;
            padding-left: 0;
        }
    }
    footer ul li a {
        padding: 0 10px;
    }
    footer .footer-logo {
        max-width: 100%;
    }
    .UR-works .work-steps .step-box div {
        font-size: 16px;
    }
    .UR-works h2 {
        font-size: 26px;
        margin-bottom: 75px;
        img {
            height: 32px;
            margin-bottom: 6px;
        }
    }
}